/* fonts link */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Ubuntu:wght@300&display=swap');

/* Common css start */
body{
    margin: 0;
    font-family: "Playfair Display", serif;
    font-size: 16px;
    font-weight: 400;
    color: #626262;
}
/* common css end */

/* header start */

header{
    padding: 25px 0;
    border-bottom: 1px solid #626262;

}
.container{
    /* border: 1px solid green; */
    margin: 0 auto;
    width: 90%;
    overflow: hidden;
}
.logo{
    /* border: 1px solid red; */
    margin-top: 10px;
    width: 12%;
    float: left;
}
.w100{
    width: 100%;
}
.menu{
    /* border: 1px solid red; */
    width: 65%;
    float: right;
}
.menu ul{
    list-style: none;
    float: right;
}
.menu ul li{
    float: left;
}
.menu ul li a{
    margin: 0 50px;
    text-transform: uppercase;
    color: #626262;
    text-decoration: none;
    border-bottom: 1px solid transparent;
    transition: 0.33s;
}
.menu ul li a:hover{
    border-bottom: 1px solid #b4ad9e;
}
.menu ul li:last-child a{
    margin-right: 0;
}

/* header end */

/* Getaway start */
.getaway{
    padding: 100px 0;
}
.container2{
    /* border: 1px solid red; */
    margin: 0 auto;
    width: 80%;
    overflow: hidden;
}
.g_light{}

.light{
    font-family:  "Ubuntu", sans-serif;
    font-size: 14px;
    font-weight: 300px;
    text-transform: uppercase;
}
.title{
    margin: 20px 0 30px;
    font-size: 30px;
    font-weight: 400;
}
.text{
    margin: 0;
    line-height: 24px;
}
.g_link{
    text-decoration: none;
    color: #626262;
    display: inline-block;
    margin-top: 50px;
}

/* Getaway end */

/* Blog section start */
.blog{
   padding-bottom: 40px;
}
.blg_content{
    overflow: hidden;
}
.single_blg{
    margin-bottom: 60px;
    width: 47%;
    float: left;
    box-sizing: border-box;
}
.single_blg:nth-child(even){
    margin-left: 6%;
}
.blg_img{
    margin-bottom: 20px;
}
/* Blog section end */

/* newsletter section start */
.newsletter{
    padding: 70px 0;
    background-color: #f0f0f0;
}
.signup{
    text-align: center;
}
.s_h1{
    margin: 0 0 70px;
    color: #333333;
}
.s_form{
    /* border: 1px solid red; */
    margin: 0 auto;
    width: 400px;
    position: relative;

}
.s_form input{
    font-family:  "Playfair Display", serif;
    font-size: 14px;
    width: 345px;
    height: 45px;
    padding-left: 5px;
    padding-right: 45px;
    border: none;
    background-color: transparent;
    border-bottom: 1px solid #333333;;
}
.s_form input:focus{
    outline: 0;
}
.s_form button{
    background-color: transparent;
    cursor: pointer;
    border: none;
}
.s_form button img{
    position: absolute;
    top: 17px;
    right: 0;
}
/* newsletter section end */

/* Top 10 section start */
.top10{
    padding: 100px 0;
}

.load_more{
    margin: 40px auto 0;
    padding: 20px 35px;
    display: block;
    font-size: 20px;
    color: #626262;
    border: 1px solid #626262;
    border-radius: 3px;
    background: none;
    cursor: pointer;
}
/* Top 10 section end */

/* footer start */
footer{
    background-color: #f0f0f0;
    height: 100px;
}
.f_content{
    margin-top: 40px;
    overflow: hidden;
    /* border: 1px solid red; */
}
.f_content_left{
    float: left;
}
.f_text{
    margin-right: 20px;
    font-size: 14px;
    font-weight: 700;
    text-decoration: none;
    color: #333333; 
    transition: 0.33s linear;
}
.f_text:hover{
    border-bottom: 1px solid #626262;
}

.f_content_right{
    float: right;
}

.icon a {
    margin-right: 20px;
    color: #333333;
    text-decoration: none;
}
.icon a:last-child{
    margin-right: 0;
}


/* footer end */